.slice{
	padding-left: 125px;
}
#jumbotron{
	height:668px;
	background: url(../img/jumbotron.png);
	background-repeat: no-repeat;
	background-size: cover;
}
body, html{
	color: black;
}
a, a:hover{
	text-decoration: none;
	color: black;
}
.btn{
	border-radius: 0 !important
}
.navbar-left{
	position: fixed;
	left: 0;
	top: 0;
	width: 110px;
	height: 100%;
}
.navbar-left ul{
	padding:10px 0
}
.navbar-left ul li{
	list-style: none;
	transform: rotate(270deg);
	padding: 50px 0
}
.clr-grey{
	color: #666666;
}
.clr-sec{
	color:  #EA244F !important
}
.font-18{
	font-size: 18px;
}
.font-20{
	font-size: 20px;
}
.font-21{
	font-size: 21px;
}
.font-24{
	font-size: 24px;
}
.font-25{
	font-size: 25px;
}
.font-28{
	font-size: 28px;
}
.font-32{
	font-size: 32px;
}
.font-36{
	font-size: 36px;
}
.font-42{
	font-size: 42px;
}
.no-padding{
	padding: 0 !important;
}
.box-port{
	margin-top: 40px;
}
.main-card-portfolio{
	padding-right: 35px !important;
	padding-left: 0 !important;
	padding-top: 35px;
}
.box-img-port{
	padding: 0 !important;
	height: 260px;
	overflow: hidden;
}
.card-footer{
	padding: 0 !important;
	margin-top: 25px;
}
a:hover .card-title{
	color: #EA244F
}
.more:hover{
	color: #EA244F	
}
.nav-tabs{
	border: none !important;
}
.nav>li>a:focus, .nav>li>a:hover{
	background: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #EA244F !important
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #EA244F !important;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #EA244F !important
}
.desc{
	margin-top: 25px;
}
.pad-25{
	padding-right: 25px !important;
}
.border-bottom{
	padding-bottom: 50px;
	border-bottom: 2px solid grey
}
.next-prev{
	padding-top: 50px !important;
	padding-bottom: 30px !important; 
}
.serv-title{
	padding-top: 15px;
	padding-bottom: 15px
}
.services ul li{
	list-style: none;
}
.main-card-team{
	padding-right: 35px !important;
	padding-top: 35px !important;
}
.box-img-team{
	height: 370px;
	overflow: hidden;
	padding: 0 !important
}
.card-blog{
	margin-bottom: 50px
}
.box-img-blog{
	height: 280px;
	overflow: hidden;
	background: grey;
	padding: 0 !important
}
.box-img-blog img{
	padding: 0 !important
}
.box-img-contact{
	margin-bottom: 25px;
	height: 360px;
	overflow: hidden;
}
.btn-apply{
	margin-top: 25px;
}
input{
	border: none !important;
	border-bottom: 2px solid black !important;
	box-shadow: none !important;
	border-radius: 0 !important;
	margin-bottom: 25px;
}
input:focus{
	border-bottom:2px solid #EA244F !important;
}
.question{
	margin-bottom: 50px;
}
.btn-bordered{
	border: 1px solid #666666 !important;
}
.btn-submit{
	margin-top: 100px;
	background: white;
	padding: 25px;
}
.btn-submit-sec{
	margin-top: 100px;
	background: white;
	padding: 25px;
	color: #EA244F;
	border: 1px solid #EA244F !important;
}
.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
@media only screen and (max-width: 768px){
	.navbar-left{
		display: none;
	}
	[class*="font-"] {
		padding: 15px !important;
	}
	.slice{
		padding: 15px !important
	}
	.main-card-portfolio{
		padding: 15px !important
	}
	.box-img-blog{
		padding: 0 !important;
		height: 150px;
	}
	.box-img-blog img{
		padding: 0
	}
	.main-card-team{
		padding: 0px !important
	}
	.card-team{
		height: 400px;
	}
	.box-img-team{
		height: 180px;
	}
	.card-team{
		padding: 0 !important
	}
	.main-card-portfolio{
		padding:15px 0 !important
	}
	.card-portfolio{
		padding: 0 !important
	}
	.box-img-port{
		padding: 15px !important;
	}
	.box-img-port img{
		padding: 0 !important
	}
	.card-footer{
		padding: 0 !important
	}
	.text-blog{
		padding: 0 !important
	}
	.box-img-blog img{
		padding: 0 !important
	}
	.services{
		padding: 0 !important
	}
}